node_modules/
dist/
electron-dist/
electron/main.cjs
electron/main.cjs.map
electron/main.js
electron/main.js.map
electron/preload.cjs
electron/preload.cjs.map
electron/preload.js
electron/preload.js
electron/preload.js.map
electron/renderer/renderer.js
src/**/*.js
src/**/*.js.map
*.tsbuildinfo
release/
bin/
example/